" key mapping leader key
let mapleader = " "

" common configs
set hlsearch
set ignorecase
set smartcase
set incsearch
set scrolloff=5 sidescrolloff=10
set clipboard=unnamedplus,unnamed,ideaput

" plugins
set NERDTree
set commentary
set ideajoin
set surround

" key mappings for exiting insert mode
inoremap jk <Esc>

" key mappings for configuring ideavim
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :source ~/.ideavimrc<CR>

" key mapping for NERDTree
nnoremap <leader>e :NERDTree<CR>

" key mappings for debugger
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>d :action Debug<CR>
nnoremap <leader>s :action Stop<CR>
nnoremap <A-h> :action StepOut<CR>
nnoremap <A-j> :action StepOver<CR>
nnoremap <A-l> :action StepInto<CR>

" key mappings for code navigation
nnoremap gi :action GotoImplementation<CR>
nnoremap gu :action ShowUsages<CR>
nnoremap gh :action ShowErrorDescription<CR>
nmap gb <Action>(Back)

" key mappings for refactoring
nnoremap cr :action RenameElement<CR>

" use '<', '>' for repeated indentation
vnoremap < <gv
vnoremap > >gv

" use 'p' to paste over selected word without replacing registry
vnoremap p pgvy

" fix weird key bindings
nmap <C-o> <Action>(Back)
nnoremap <C-r> :action $Redo<CR>
